
.c-animation-image {
  position: relative;
  width: 100vw;
  animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}

.petal {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: hidden;
  
  h1 {
    font-size: 5rem;
    color: #ffdbed;
  }
  li{
   position: absolute;
   list-style: none;
   top: -50px;
   background: #ffdbed;
   border-radius: 0% 70%;
  }
  li:nth-child(1){
    left: 0%;
    // top: -60px;
    width: 24px;
    height: 15px;
    background-color: #ffdbed;
    animation: fall 10s linear infinite,
               sway1 3s ease-in-out infinite alternate;
    animation-delay: 2s;
  }  
  li:nth-child(2){
    left: 5%;
    // top: -50px;
    width: 13px;
    height: 9px;
    background-color: #ffdbed;
    animation: fall 15s linear infinite,
               sway1 2s ease-in-out infinite alternate;
    animation-delay: 8s;
  }
  li:nth-child(3){
    left: 15%;
    // top: -60px;
    width: 16px;
    height: 10px;
    background-color: #ffdbed;
    animation: fall 9s linear infinite,
               sway1 3.5s ease-in-out infinite alternate;
    animation-delay: 13s;
  }
  li:nth-child(4){
    left: 30%;
    top: -70px;
    width: 16px;
    height: 10px;
    background-color: #ffdbed;
    animation: fall 8s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 7s;
  }
  li:nth-child(5){
    left: 40%;
    // top: -60px;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite,
               sway1 4s ease-in-out infinite alternate;
    animation-delay: 0s;
  }
  li:nth-child(6){
    left: 55%;
    // top: -50px;
    width: 24px;
    height: 15px;
    background-color: #ffdbed;
    animation: fall 11s linear infinite,
               sway2 3s ease-in-out infinite alternate;
    animation-delay: 3s;
  }
  li:nth-child(7){
    left: 65%;
    // top: -40px;
    width: 16px;
    height: 10px;
    animation: fall 7s linear infinite,
               sway2 3.5s ease-in-out infinite alternate;
    animation-delay: 7s;
  }
  li:nth-child(8){
    left: 50%;
    // top: -60px;
    width: 13px;
    height: 9px;
    background-color: #ffdbed;
    animation: fall 7s linear infinite,
               sway1 3s ease-in-out infinite alternate;
    animation-delay: 3s;
  }
  li:nth-child(9){
    left: 80%;
    // top: -70px;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 4s;
  }
  li:nth-child(10){
    left: 75%;
    // top: -60px;
    width: 16px;
    height: 10px;
    animation: fall 7s linear infinite,
               sway2 3s ease-in-out infinite alternate;
    animation-delay: 2s;
  }
  li:nth-child(11){
    left: 60%;
    // top: -50px;
    width: 16px;
    height: 10px;
    animation: fall 15s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 3s;
  }
  li:nth-child(12){
    left: 55%;
    // top: -40px;
    width: 16px;
    height: 10px;
    animation: fall 7s linear infinite,
               sway2 5s ease-in-out infinite alternate;
    animation-delay: 4s;
  }
  li:nth-child(13){
    left: 60%;
    // top: -50px;
    width: 16px;
    height: 10px;
    animation: fall 11s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 2s;
  }
  li:nth-child(14){
    left: 45%;
    // top: -60px;
    width: 16px;
    height: 10px;
    animation: fall 8s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 2s;
  }
  li:nth-child(15){
    left: 75%;
    // top: -70px;
    width: 16px;
    height: 10px;
    animation: fall 14s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 6s;
  }
  li:nth-child(16){
    left: 70%;
    // top: -60px;
    width: 16px;
    height: 10px;
    animation: fall 8s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 3s;
  }
  li:nth-child(17){
    left: 65%;
    // top: -50px;
    width: 16px;
    height: 10px;
    animation: fall 8s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 4s;
  }
  li:nth-child(18){
    left: 85%;
    // top: -40px;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 4s;
  }
}

@keyframes fall {
  to {
    top: 120%;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}