.c-moon {
  position: absolute;
  top: 10%;
  left: 85%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 700;
  box-shadow: -3px 0px 0px 2px #fff;
  transform: rotate(-24deg);
  animation: moon-light 25s  0s infinite; 
}

@keyframes moon-light {
  10% {
    opacity: 1;
	}
	25% {
    opacity: 0.5;
	}
	50% {
    opacity: 0;
	}
	75% {
    opacity: 0.5;
	}
	100% {
    opacity: 1;
	}
}