.c-sun-light li {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 200vw 10vh 0;
}
.c-sun-light li:nth-of-type(1) {
  transform: rotate(1.15deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(89,0,255,0), rgba(89,0,255,0.3), rgba(89,0,255,0.2), rgba(89,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 1 s infinite;
}
.c-sun-light li:nth-of-type(2) {
  transform: rotate(2.3deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(94,0,255,0), rgba(94,0,255,0.3), rgba(94,0,255,0.2), rgba(94,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 2 s infinite;
}
.c-sun-light li:nth-of-type(3) {
  transform: rotate(3.45deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(98,0,255,0), rgba(98,0,255,0.3), rgba(98,0,255,0.2), rgba(98,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 3 s infinite;
}
.c-sun-light li:nth-of-type(4) {
  transform: rotate(4.6deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(102,0,255,0), rgba(102,0,255,0.3), rgba(102,0,255,0.2), rgba(102,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 4 s infinite;
}
.c-sun-light li:nth-of-type(5) {
  transform: rotate(5.75deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(106,0,255,0), rgba(106,0,255,0.3), rgba(106,0,255,0.2), rgba(106,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 5 s infinite;
}
.c-sun-light li:nth-of-type(6) {
  transform: rotate(6.899999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(110,0,255,0), rgba(110,0,255,0.3), rgba(110,0,255,0.2), rgba(110,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 6 s infinite;
}
.c-sun-light li:nth-of-type(7) {
  transform: rotate(8.049999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(115,0,255,0), rgba(115,0,255,0.3), rgba(115,0,255,0.2), rgba(115,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 7 s infinite;
}
.c-sun-light li:nth-of-type(8) {
  transform: rotate(9.2deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(119,0,255,0), rgba(119,0,255,0.3), rgba(119,0,255,0.2), rgba(119,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 8 s infinite;
}
.c-sun-light li:nth-of-type(9) {
  transform: rotate(10.35deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(123,0,255,0), rgba(123,0,255,0.3), rgba(123,0,255,0.2), rgba(123,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 9 s infinite;
}
.c-sun-light li:nth-of-type(10) {
  transform: rotate(11.5deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(127,0,255,0), rgba(127,0,255,0.3), rgba(127,0,255,0.2), rgba(127,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 10 s infinite;
}
.c-sun-light li:nth-of-type(11) {
  transform: rotate(12.649999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(132,0,255,0), rgba(132,0,255,0.3), rgba(132,0,255,0.2), rgba(132,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 11 s infinite;
}
.c-sun-light li:nth-of-type(12) {
  transform: rotate(13.799999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(136,0,255,0), rgba(136,0,255,0.3), rgba(136,0,255,0.2), rgba(136,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 12 s infinite;
}
.c-sun-light li:nth-of-type(13) {
  transform: rotate(14.95deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(140,0,255,0), rgba(140,0,255,0.3), rgba(140,0,255,0.2), rgba(140,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 13 s infinite;
}
.c-sun-light li:nth-of-type(14) {
  transform: rotate(16.099999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(144,0,255,0), rgba(144,0,255,0.3), rgba(144,0,255,0.2), rgba(144,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 14 s infinite;
}
.c-sun-light li:nth-of-type(15) {
  transform: rotate(17.25deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(149,0,255,0), rgba(149,0,255,0.3), rgba(149,0,255,0.2), rgba(149,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 15 s infinite;
}
.c-sun-light li:nth-of-type(16) {
  transform: rotate(18.4deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(153,0,255,0), rgba(153,0,255,0.3), rgba(153,0,255,0.2), rgba(153,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 16 s infinite;
}
.c-sun-light li:nth-of-type(17) {
  transform: rotate(19.549999999999997deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(157,0,255,0), rgba(157,0,255,0.3), rgba(157,0,255,0.2), rgba(157,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 17 s infinite;
}
.c-sun-light li:nth-of-type(18) {
  transform: rotate(20.7deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(162,0,255,0), rgba(162,0,255,0.3), rgba(162,0,255,0.2), rgba(162,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 18 s infinite;
}
.c-sun-light li:nth-of-type(19) {
  transform: rotate(21.849999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(166,0,255,0), rgba(166,0,255,0.3), rgba(166,0,255,0.2), rgba(166,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 19 s infinite;
}
.c-sun-light li:nth-of-type(20) {
  transform: rotate(23deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(170,0,255,0), rgba(170,0,255,0.3), rgba(170,0,255,0.2), rgba(170,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 20 s infinite;
}
.c-sun-light li:nth-of-type(21) {
  transform: rotate(24.15deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(174,0,255,0), rgba(174,0,255,0.3), rgba(174,0,255,0.2), rgba(174,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 21 s infinite;
}
.c-sun-light li:nth-of-type(22) {
  transform: rotate(25.299999999999997deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(179,0,255,0), rgba(179,0,255,0.3), rgba(179,0,255,0.2), rgba(179,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 22 s infinite;
}
.c-sun-light li:nth-of-type(23) {
  transform: rotate(26.45deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(183,0,255,0), rgba(183,0,255,0.3), rgba(183,0,255,0.2), rgba(183,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 23 s infinite;
}
.c-sun-light li:nth-of-type(24) {
  transform: rotate(27.599999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(187,0,255,0), rgba(187,0,255,0.3), rgba(187,0,255,0.2), rgba(187,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 24 s infinite;
}
.c-sun-light li:nth-of-type(25) {
  transform: rotate(28.749999999999996deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, rgba(191,0,255,0), rgba(191,0,255,0.3), rgba(191,0,255,0.2), rgba(191,0,255,0)) 100%/80vw 5.5vh 0;
  animation: sun-beam 25s 25 s infinite;
}
@-moz-keyframes sun-beam {
  72% {
    opacity: 0;
  }
  86% {
    opacity: 1;
  }
  98% {
    opacity: 0.5;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes sun-beam {
  72% {
    opacity: 0;
  }
  86% {
    opacity: 1;
  }
  98% {
    opacity: 0.5;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes sun-beam {
  72% {
    opacity: 0;
  }
  86% {
    opacity: 1;
  }
  98% {
    opacity: 0.5;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sun-beam {
  72% {
    opacity: 0;
  }
  86% {
    opacity: 1;
  }
  98% {
    opacity: 0.5;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
