.c-sun-light li
  transform-origin 50% 100%
  for i in (1..360)
    &:nth-of-type({i})
      transform rotate(i deg) translate3d(0, 0, 0)
    width 0
  height 0

  position absolute
  border-style solid
  border-width 115px 1px
  // border-color #f00 transparent transparent
  border-image linear-gradient(to bottom, black, white) 100% / 115px 1px 0
  transform-origin 50% 100%
  for i in (1..360)
    &:nth-of-type({i})
      transform rotate(i deg) translate3d(0, 0, 0)
  
  li
  for i in (1..360)
    &:nth-of-type({i})
      border-image linear-gradient(to bottom, hsl(i, 100%, 50%), #FFF) 100% / 800px 1px 0