.c-sun-light li 
  width 0 
  height 0
  position absolute
  border-style solid
  //1度を形成する角錐のサイズ 上115px 横1px 下0
  border-width 120px 1px 0
  //border-color #f00 transparent transparent 
  //グラデーション
  border-image linear-gradient(to bottom, black, white) 50% / 115px 1px 0 
  transform-origin 50% 100%
  for i in (1..720)
    &:nth-of-type({i})
      transform rotate(i deg) translate3d(0, 0, 0)
      border-image linear-gradient(to bottom, hsla(i, 100%, 50%, 1),hsla(i, 100%, 50%, .2),hsla(i, 100%, 50%, 0) ) 100% / 115px 1px 0
