.c-sun-light li {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 200vw 10vh 0;
}
.c-sun-light li:nth-of-type(1) {
  transform: rotate(1.15deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #5900ff, rgba(89,0,255,0.5), rgba(89,0,255,0.1), rgba(89,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(2) {
  transform: rotate(2.3deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #5e00ff, rgba(94,0,255,0.5), rgba(94,0,255,0.1), rgba(94,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(3) {
  transform: rotate(3.45deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #6200ff, rgba(98,0,255,0.5), rgba(98,0,255,0.1), rgba(98,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(4) {
  transform: rotate(4.6deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #60f, rgba(102,0,255,0.5), rgba(102,0,255,0.1), rgba(102,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(5) {
  transform: rotate(5.75deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #6a00ff, rgba(106,0,255,0.5), rgba(106,0,255,0.1), rgba(106,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(6) {
  transform: rotate(6.899999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #6e00ff, rgba(110,0,255,0.5), rgba(110,0,255,0.1), rgba(110,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(7) {
  transform: rotate(8.049999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #7300ff, rgba(115,0,255,0.5), rgba(115,0,255,0.1), rgba(115,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(8) {
  transform: rotate(9.2deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #70f, rgba(119,0,255,0.5), rgba(119,0,255,0.1), rgba(119,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(9) {
  transform: rotate(10.35deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #7b00ff, rgba(123,0,255,0.5), rgba(123,0,255,0.1), rgba(123,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(10) {
  transform: rotate(11.5deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #7f00ff, rgba(127,0,255,0.5), rgba(127,0,255,0.1), rgba(127,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(11) {
  transform: rotate(12.649999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #8400ff, rgba(132,0,255,0.5), rgba(132,0,255,0.1), rgba(132,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(12) {
  transform: rotate(13.799999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #80f, rgba(136,0,255,0.5), rgba(136,0,255,0.1), rgba(136,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(13) {
  transform: rotate(14.95deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #8c00ff, rgba(140,0,255,0.5), rgba(140,0,255,0.1), rgba(140,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(14) {
  transform: rotate(16.099999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #9000ff, rgba(144,0,255,0.5), rgba(144,0,255,0.1), rgba(144,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(15) {
  transform: rotate(17.25deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #9500ff, rgba(149,0,255,0.5), rgba(149,0,255,0.1), rgba(149,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(16) {
  transform: rotate(18.4deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #90f, rgba(153,0,255,0.5), rgba(153,0,255,0.1), rgba(153,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(17) {
  transform: rotate(19.549999999999997deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #9d00ff, rgba(157,0,255,0.5), rgba(157,0,255,0.1), rgba(157,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(18) {
  transform: rotate(20.7deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #a200ff, rgba(162,0,255,0.5), rgba(162,0,255,0.1), rgba(162,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(19) {
  transform: rotate(21.849999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #a600ff, rgba(166,0,255,0.5), rgba(166,0,255,0.1), rgba(166,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(20) {
  transform: rotate(23deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #a0f, rgba(170,0,255,0.5), rgba(170,0,255,0.1), rgba(170,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(21) {
  transform: rotate(24.15deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ae00ff, rgba(174,0,255,0.5), rgba(174,0,255,0.1), rgba(174,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(22) {
  transform: rotate(25.299999999999997deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #b300ff, rgba(179,0,255,0.5), rgba(179,0,255,0.1), rgba(179,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(23) {
  transform: rotate(26.45deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #b700ff, rgba(183,0,255,0.5), rgba(183,0,255,0.1), rgba(183,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(24) {
  transform: rotate(27.599999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #b0f, rgba(187,0,255,0.5), rgba(187,0,255,0.1), rgba(187,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(25) {
  transform: rotate(28.749999999999996deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #bf00ff, rgba(191,0,255,0.5), rgba(191,0,255,0.1), rgba(191,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(26) {
  transform: rotate(29.9deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #c300ff, rgba(195,0,255,0.5), rgba(195,0,255,0.1), rgba(195,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(27) {
  transform: rotate(31.049999999999997deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #c800ff, rgba(200,0,255,0.5), rgba(200,0,255,0.1), rgba(200,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(28) {
  transform: rotate(32.199999999999996deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #c0f, rgba(204,0,255,0.5), rgba(204,0,255,0.1), rgba(204,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(29) {
  transform: rotate(33.349999999999994deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #d000ff, rgba(208,0,255,0.5), rgba(208,0,255,0.1), rgba(208,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(30) {
  transform: rotate(34.5deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #d400ff, rgba(212,0,255,0.5), rgba(212,0,255,0.1), rgba(212,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(31) {
  transform: rotate(35.65deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #d900ff, rgba(217,0,255,0.5), rgba(217,0,255,0.1), rgba(217,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(32) {
  transform: rotate(36.8deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #d0f, rgba(221,0,255,0.5), rgba(221,0,255,0.1), rgba(221,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(33) {
  transform: rotate(37.949999999999996deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #e100ff, rgba(225,0,255,0.5), rgba(225,0,255,0.1), rgba(225,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(34) {
  transform: rotate(39.099999999999994deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #e500ff, rgba(229,0,255,0.5), rgba(229,0,255,0.1), rgba(229,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(35) {
  transform: rotate(40.25deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ea00ff, rgba(234,0,255,0.5), rgba(234,0,255,0.1), rgba(234,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(36) {
  transform: rotate(41.4deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #e0f, rgba(238,0,255,0.5), rgba(238,0,255,0.1), rgba(238,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(37) {
  transform: rotate(42.55deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f200ff, rgba(242,0,255,0.5), rgba(242,0,255,0.1), rgba(242,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(38) {
  transform: rotate(43.699999999999996deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f600ff, rgba(246,0,255,0.5), rgba(246,0,255,0.1), rgba(246,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(39) {
  transform: rotate(44.849999999999994deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #fb00ff, rgba(251,0,255,0.5), rgba(251,0,255,0.1), rgba(251,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(40) {
  transform: rotate(46deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f0f, rgba(255,0,255,0.5), rgba(255,0,255,0.1), rgba(255,0,255,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(41) {
  transform: rotate(47.15deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00fb, rgba(255,0,251,0.5), rgba(255,0,251,0.1), rgba(255,0,251,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(42) {
  transform: rotate(48.3deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00f6, rgba(255,0,246,0.5), rgba(255,0,246,0.1), rgba(255,0,246,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(43) {
  transform: rotate(49.449999999999996deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00f2, rgba(255,0,242,0.5), rgba(255,0,242,0.1), rgba(255,0,242,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(44) {
  transform: rotate(50.599999999999994deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f0e, rgba(255,0,238,0.5), rgba(255,0,238,0.1), rgba(255,0,238,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(45) {
  transform: rotate(51.74999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00ea, rgba(255,0,234,0.5), rgba(255,0,234,0.1), rgba(255,0,234,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(46) {
  transform: rotate(52.9deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00e6, rgba(255,0,230,0.5), rgba(255,0,230,0.1), rgba(255,0,230,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(47) {
  transform: rotate(54.05deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00e1, rgba(255,0,225,0.5), rgba(255,0,225,0.1), rgba(255,0,225,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(48) {
  transform: rotate(55.199999999999996deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f0d, rgba(255,0,221,0.5), rgba(255,0,221,0.1), rgba(255,0,221,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(49) {
  transform: rotate(56.349999999999994deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00d9, rgba(255,0,217,0.5), rgba(255,0,217,0.1), rgba(255,0,217,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(50) {
  transform: rotate(57.49999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00d4, rgba(255,0,212,0.5), rgba(255,0,212,0.1), rgba(255,0,212,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(51) {
  transform: rotate(58.65deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00d0, rgba(255,0,208,0.5), rgba(255,0,208,0.1), rgba(255,0,208,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(52) {
  transform: rotate(59.8deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f0c, rgba(255,0,204,0.5), rgba(255,0,204,0.1), rgba(255,0,204,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(53) {
  transform: rotate(60.949999999999996deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00c8, rgba(255,0,200,0.5), rgba(255,0,200,0.1), rgba(255,0,200,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(54) {
  transform: rotate(62.099999999999994deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00c3, rgba(255,0,195,0.5), rgba(255,0,195,0.1), rgba(255,0,195,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(55) {
  transform: rotate(63.24999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00bf, rgba(255,0,191,0.5), rgba(255,0,191,0.1), rgba(255,0,191,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(56) {
  transform: rotate(64.39999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f0b, rgba(255,0,187,0.5), rgba(255,0,187,0.1), rgba(255,0,187,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(57) {
  transform: rotate(65.55deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00b7, rgba(255,0,183,0.5), rgba(255,0,183,0.1), rgba(255,0,183,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(58) {
  transform: rotate(66.69999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00b2, rgba(255,0,178,0.5), rgba(255,0,178,0.1), rgba(255,0,178,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(59) {
  transform: rotate(67.85deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00ae, rgba(255,0,174,0.5), rgba(255,0,174,0.1), rgba(255,0,174,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(60) {
  transform: rotate(69deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f0a, rgba(255,0,170,0.5), rgba(255,0,170,0.1), rgba(255,0,170,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(61) {
  transform: rotate(70.14999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00a6, rgba(255,0,166,0.5), rgba(255,0,166,0.1), rgba(255,0,166,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(62) {
  transform: rotate(71.3deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff00a1, rgba(255,0,161,0.5), rgba(255,0,161,0.1), rgba(255,0,161,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(63) {
  transform: rotate(72.44999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff009d, rgba(255,0,157,0.5), rgba(255,0,157,0.1), rgba(255,0,157,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(64) {
  transform: rotate(73.6deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f09, rgba(255,0,153,0.5), rgba(255,0,153,0.1), rgba(255,0,153,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(65) {
  transform: rotate(74.75deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0095, rgba(255,0,149,0.5), rgba(255,0,149,0.1), rgba(255,0,149,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(66) {
  transform: rotate(75.89999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0091, rgba(255,0,145,0.5), rgba(255,0,145,0.1), rgba(255,0,145,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(67) {
  transform: rotate(77.05deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff008c, rgba(255,0,140,0.5), rgba(255,0,140,0.1), rgba(255,0,140,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(68) {
  transform: rotate(78.19999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f08, rgba(255,0,136,0.5), rgba(255,0,136,0.1), rgba(255,0,136,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(69) {
  transform: rotate(79.35deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0084, rgba(255,0,132,0.5), rgba(255,0,132,0.1), rgba(255,0,132,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(70) {
  transform: rotate(80.5deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0080, rgba(255,0,128,0.5), rgba(255,0,128,0.1), rgba(255,0,128,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(71) {
  transform: rotate(81.64999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff007b, rgba(255,0,123,0.5), rgba(255,0,123,0.1), rgba(255,0,123,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(72) {
  transform: rotate(82.8deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f07, rgba(255,0,119,0.5), rgba(255,0,119,0.1), rgba(255,0,119,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(73) {
  transform: rotate(83.94999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0073, rgba(255,0,115,0.5), rgba(255,0,115,0.1), rgba(255,0,115,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(74) {
  transform: rotate(85.1deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff006e, rgba(255,0,110,0.5), rgba(255,0,110,0.1), rgba(255,0,110,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(75) {
  transform: rotate(86.25deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff006a, rgba(255,0,106,0.5), rgba(255,0,106,0.1), rgba(255,0,106,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(76) {
  transform: rotate(87.39999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f06, rgba(255,0,102,0.5), rgba(255,0,102,0.1), rgba(255,0,102,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(77) {
  transform: rotate(88.55deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0062, rgba(255,0,98,0.5), rgba(255,0,98,0.1), rgba(255,0,98,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(78) {
  transform: rotate(89.69999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff005d, rgba(255,0,93,0.5), rgba(255,0,93,0.1), rgba(255,0,93,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(79) {
  transform: rotate(90.85deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0059, rgba(255,0,89,0.5), rgba(255,0,89,0.1), rgba(255,0,89,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(80) {
  transform: rotate(92deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f05, rgba(255,0,85,0.5), rgba(255,0,85,0.1), rgba(255,0,85,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(81) {
  transform: rotate(93.14999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0051, rgba(255,0,81,0.5), rgba(255,0,81,0.1), rgba(255,0,81,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(82) {
  transform: rotate(94.3deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff004c, rgba(255,0,76,0.5), rgba(255,0,76,0.1), rgba(255,0,76,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(83) {
  transform: rotate(95.44999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0048, rgba(255,0,72,0.5), rgba(255,0,72,0.1), rgba(255,0,72,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(84) {
  transform: rotate(96.6deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f04, rgba(255,0,68,0.5), rgba(255,0,68,0.1), rgba(255,0,68,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(85) {
  transform: rotate(97.74999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0040, rgba(255,0,64,0.5), rgba(255,0,64,0.1), rgba(255,0,64,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(86) {
  transform: rotate(98.89999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff003b, rgba(255,0,59,0.5), rgba(255,0,59,0.1), rgba(255,0,59,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(87) {
  transform: rotate(100.05deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0037, rgba(255,0,55,0.5), rgba(255,0,55,0.1), rgba(255,0,55,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(88) {
  transform: rotate(101.19999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f03, rgba(255,0,51,0.5), rgba(255,0,51,0.1), rgba(255,0,51,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(89) {
  transform: rotate(102.35deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff002f, rgba(255,0,47,0.5), rgba(255,0,47,0.1), rgba(255,0,47,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(90) {
  transform: rotate(103.49999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff002b, rgba(255,0,43,0.5), rgba(255,0,43,0.1), rgba(255,0,43,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(91) {
  transform: rotate(104.64999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0026, rgba(255,0,38,0.5), rgba(255,0,38,0.1), rgba(255,0,38,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(92) {
  transform: rotate(105.8deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f02, rgba(255,0,34,0.5), rgba(255,0,34,0.1), rgba(255,0,34,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(93) {
  transform: rotate(106.94999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff001e, rgba(255,0,30,0.5), rgba(255,0,30,0.1), rgba(255,0,30,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(94) {
  transform: rotate(108.1deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff001a, rgba(255,0,26,0.5), rgba(255,0,26,0.1), rgba(255,0,26,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(95) {
  transform: rotate(109.24999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0015, rgba(255,0,21,0.5), rgba(255,0,21,0.1), rgba(255,0,21,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(96) {
  transform: rotate(110.39999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f01, rgba(255,0,17,0.5), rgba(255,0,17,0.1), rgba(255,0,17,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(97) {
  transform: rotate(111.55deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff000d, rgba(255,0,13,0.5), rgba(255,0,13,0.1), rgba(255,0,13,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(98) {
  transform: rotate(112.69999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0008, rgba(255,0,8,0.5), rgba(255,0,8,0.1), rgba(255,0,8,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(99) {
  transform: rotate(113.85deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0004, rgba(255,0,4,0.5), rgba(255,0,4,0.1), rgba(255,0,4,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(100) {
  transform: rotate(114.99999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f00, rgba(255,0,0,0.5), rgba(255,0,0,0.1), rgba(255,0,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(101) {
  transform: rotate(116.14999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0400, rgba(255,4,0,0.5), rgba(255,4,0,0.1), rgba(255,4,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(102) {
  transform: rotate(117.3deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0900, rgba(255,9,0,0.5), rgba(255,9,0,0.1), rgba(255,9,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(103) {
  transform: rotate(118.44999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff0d00, rgba(255,13,0,0.5), rgba(255,13,0,0.1), rgba(255,13,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(104) {
  transform: rotate(119.6deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f10, rgba(255,17,0,0.5), rgba(255,17,0,0.1), rgba(255,17,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(105) {
  transform: rotate(120.74999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff1500, rgba(255,21,0,0.5), rgba(255,21,0,0.1), rgba(255,21,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(106) {
  transform: rotate(121.89999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff1a00, rgba(255,26,0,0.5), rgba(255,26,0,0.1), rgba(255,26,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(107) {
  transform: rotate(123.05deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff1e00, rgba(255,30,0,0.5), rgba(255,30,0,0.1), rgba(255,30,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(108) {
  transform: rotate(124.19999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f20, rgba(255,34,0,0.5), rgba(255,34,0,0.1), rgba(255,34,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(109) {
  transform: rotate(125.35deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff2600, rgba(255,38,0,0.5), rgba(255,38,0,0.1), rgba(255,38,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(110) {
  transform: rotate(126.49999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff2b00, rgba(255,43,0,0.5), rgba(255,43,0,0.1), rgba(255,43,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(111) {
  transform: rotate(127.64999999999999deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff2f00, rgba(255,47,0,0.5), rgba(255,47,0,0.1), rgba(255,47,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(112) {
  transform: rotate(128.79999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f30, rgba(255,51,0,0.5), rgba(255,51,0,0.1), rgba(255,51,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(113) {
  transform: rotate(129.95deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff3700, rgba(255,55,0,0.5), rgba(255,55,0,0.1), rgba(255,55,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(114) {
  transform: rotate(131.1deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff3c00, rgba(255,60,0,0.5), rgba(255,60,0,0.1), rgba(255,60,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(115) {
  transform: rotate(132.25deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff4000, rgba(255,64,0,0.5), rgba(255,64,0,0.1), rgba(255,64,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(116) {
  transform: rotate(133.39999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f40, rgba(255,68,0,0.5), rgba(255,68,0,0.1), rgba(255,68,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(117) {
  transform: rotate(134.54999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff4800, rgba(255,72,0,0.5), rgba(255,72,0,0.1), rgba(255,72,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(118) {
  transform: rotate(135.7deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff4d00, rgba(255,77,0,0.5), rgba(255,77,0,0.1), rgba(255,77,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(119) {
  transform: rotate(136.85deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff5100, rgba(255,81,0,0.5), rgba(255,81,0,0.1), rgba(255,81,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(120) {
  transform: rotate(138deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f50, rgba(255,85,0,0.5), rgba(255,85,0,0.1), rgba(255,85,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(121) {
  transform: rotate(139.14999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff5900, rgba(255,89,0,0.5), rgba(255,89,0,0.1), rgba(255,89,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(122) {
  transform: rotate(140.29999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff5e00, rgba(255,94,0,0.5), rgba(255,94,0,0.1), rgba(255,94,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(123) {
  transform: rotate(141.45deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff6200, rgba(255,98,0,0.5), rgba(255,98,0,0.1), rgba(255,98,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(124) {
  transform: rotate(142.6deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f60, rgba(255,102,0,0.5), rgba(255,102,0,0.1), rgba(255,102,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(125) {
  transform: rotate(143.75deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff6a00, rgba(255,106,0,0.5), rgba(255,106,0,0.1), rgba(255,106,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(126) {
  transform: rotate(144.89999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff6e00, rgba(255,110,0,0.5), rgba(255,110,0,0.1), rgba(255,110,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(127) {
  transform: rotate(146.04999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff7300, rgba(255,115,0,0.5), rgba(255,115,0,0.1), rgba(255,115,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(128) {
  transform: rotate(147.2deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f70, rgba(255,119,0,0.5), rgba(255,119,0,0.1), rgba(255,119,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(129) {
  transform: rotate(148.35deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff7b00, rgba(255,123,0,0.5), rgba(255,123,0,0.1), rgba(255,123,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(130) {
  transform: rotate(149.5deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff8000, rgba(255,128,0,0.5), rgba(255,128,0,0.1), rgba(255,128,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(131) {
  transform: rotate(150.64999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff8400, rgba(255,132,0,0.5), rgba(255,132,0,0.1), rgba(255,132,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(132) {
  transform: rotate(151.79999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f80, rgba(255,136,0,0.5), rgba(255,136,0,0.1), rgba(255,136,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(133) {
  transform: rotate(152.95deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff8c00, rgba(255,140,0,0.5), rgba(255,140,0,0.1), rgba(255,140,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(134) {
  transform: rotate(154.1deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff9100, rgba(255,145,0,0.5), rgba(255,145,0,0.1), rgba(255,145,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(135) {
  transform: rotate(155.25deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff9500, rgba(255,149,0,0.5), rgba(255,149,0,0.1), rgba(255,149,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(136) {
  transform: rotate(156.39999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #f90, rgba(255,153,0,0.5), rgba(255,153,0,0.1), rgba(255,153,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(137) {
  transform: rotate(157.54999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ff9d00, rgba(255,157,0,0.5), rgba(255,157,0,0.1), rgba(255,157,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(138) {
  transform: rotate(158.7deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffa200, rgba(255,162,0,0.5), rgba(255,162,0,0.1), rgba(255,162,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(139) {
  transform: rotate(159.85deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffa600, rgba(255,166,0,0.5), rgba(255,166,0,0.1), rgba(255,166,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(140) {
  transform: rotate(161deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #fa0, rgba(255,170,0,0.5), rgba(255,170,0,0.1), rgba(255,170,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(141) {
  transform: rotate(162.14999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffae00, rgba(255,174,0,0.5), rgba(255,174,0,0.1), rgba(255,174,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(142) {
  transform: rotate(163.29999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffb300, rgba(255,179,0,0.5), rgba(255,179,0,0.1), rgba(255,179,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(143) {
  transform: rotate(164.45deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffb700, rgba(255,183,0,0.5), rgba(255,183,0,0.1), rgba(255,183,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(144) {
  transform: rotate(165.6deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #fb0, rgba(255,187,0,0.5), rgba(255,187,0,0.1), rgba(255,187,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(145) {
  transform: rotate(166.75deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffbf00, rgba(255,191,0,0.5), rgba(255,191,0,0.1), rgba(255,191,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(146) {
  transform: rotate(167.89999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffc300, rgba(255,195,0,0.5), rgba(255,195,0,0.1), rgba(255,195,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(147) {
  transform: rotate(169.04999999999998deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffc800, rgba(255,200,0,0.5), rgba(255,200,0,0.1), rgba(255,200,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(148) {
  transform: rotate(170.2deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #fc0, rgba(255,204,0,0.5), rgba(255,204,0,0.1), rgba(255,204,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(149) {
  transform: rotate(171.35deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffd000, rgba(255,208,0,0.5), rgba(255,208,0,0.1), rgba(255,208,0,0)) 100%/80vw 5.5vh 0;
}
.c-sun-light li:nth-of-type(150) {
  transform: rotate(172.5deg) translate3d(0, 0, 0);
  border-image: linear-gradient(to bottom, #ffd500, rgba(255,213,0,0.5), rgba(255,213,0,0.1), rgba(255,213,0,0)) 100%/80vw 5.5vh 0;
}
